.footer-banner {
  position: relative;
  bottom: 0;

  height: 50px;
  margin-bottom: auto;
}

footer {
  background-color: rgba(100, 159, 214, 0.8);
  border-radius: 5px;
  position: flex;
  left: 2rem;
  right: 2rem;
}
